<p>
  courses works!
</p>
<h2>Courses</h2>
{{ title }}
<input type='text' appAutoGrow/>
<input #newCourse (keyup.enter)="addCourse(newCourse.value)">
 <button (click)="addCourse(newCourse.value)">Add newCourse</button>
 
 <ul><li *ngFor="let course of courses">{{course}}</li></ul>
